/* Global styles for the entire app */

@import './Animations.css';
@import './CustomStyles.css';
@import './GlobalOverrides.css';

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Table styling */
  .ant-table {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Button styling */
  .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
    border-radius: 4px;
  }
  
  .ant-btn-primary:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }